<Alloy>
    <View id="mainView">
        <View id="mainTopBar">
            <View id="menuButton"/>
        </View>
        <TableView>
            <TableViewRow id="row">
                <View id="view" backgroundColor="red" width="20" height="20"/>
            </TableViewRow>
        </TableView>
    </View>
</Alloy>
